/* Samsung Sharp Sans Font Family */
@font-face {
  font-family: 'Samsung Sharp Sans';
  src: url('/fonts/SamsungSharpSans-Bold.woff2') format('woff2'),
       url('/fonts/SamsungSharpSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Samsung Sharp Sans';
  src: url('/fonts/SamsungSharpSans-Medium.woff2') format('woff2'),
       url('/fonts/SamsungSharpSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Samsung Sharp Sans';
  src: url('/fonts/SamsungSharpSans-Regular.woff2') format('woff2'),
       url('/fonts/SamsungSharpSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Samsung One Font Family */
@font-face {
  font-family: 'Samsung One';
  src: url('/fonts/SamsungOne-700.woff2') format('woff2'),
       url('/fonts/SamsungOne-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Samsung One';
  src: url('/fonts/SamsungOne-600.woff2') format('woff2'),
       url('/fonts/SamsungOne-600.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Samsung One';
  src: url('/fonts/SamsungOne-400.woff2') format('woff2'),
       url('/fonts/SamsungOne-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

